<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- import cahe settings -->
    <import resource="cache-beans.xml"/>

    <!-- import data source settings -->
    <import resource="datasource-beans.xml"/>

    <import resource="datasource-beans.xml"/>

    <bean id="API_DISPATCHER" class="api.ApiDispatcher" init-method="init" destroy-method="destroy">
        <!-- Sample API handlers -->
        <property name="apiHandlers">
            <map>
                <entry key="echo">
                    <util:constant static-field="samples.api.ApiFuncSample.API_ECHO"/>
                </entry>
                <entry key="info">
                    <util:constant static-field="samples.api.ApiFuncSample.API_INFO"/>
                </entry>
                <entry key="deny">
                    <util:constant static-field="samples.api.ApiFuncSample.API_DENY"/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- beans for development env -->
    <beans>
    </beans>

    <!-- beans for production env -->
    <beans profile="prod,production">
    </beans>
</beans>
