@(form: play.data.Form[forms.FormDemo])(implicit messages: play.i18n.Messages)
<!DOCTYPE html>
<html>
<head>
    <title>Play Java Template</title>
</head>
<body>
    <h1>@messages.at("msg.welcome")</h1>

    [<a href="@routes.SamplePageController.index">@messages.at("msg.home")</a>]
    [@messages.at("msg.form_demo")]
    
    <hr />
    
    <form method="post" action="@routes.SamplePageController.formDemoSubmit()">
        @if(form.hasErrors){
            @_macro_displayFormErrors(form, Array("email", "fullname", "dob", "mob", "yob"))
        } else {
            <h3>@messages.at("msg.form.submit_ok")</h3>
        }
        <table border="0" style="width: 50%">
        <tr>
            <td nowrap="nowrap">@messages.at("msg.form.email"):</td>
            <td style="width: 100%">
                <input style="width: 100%" name="email" placeholder="@messages.at("msg.placeholder.email")" value="@form("email").value" />
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap">@messages.at("msg.form.fullname"):</td>
            <td style="width: 100%">
                <input style="width: 100%" name="fullname" placeholder="@messages.at("msg.placeholder.fullname")" value="@form("fullname").value" />
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" style="width: 100%" colspan="2">
                <table border="0" style="width: 100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 33%; text-align: center">
                        <select name="dob">
                            <option value="0">-= @messages.at("msg.form.dob") =-</option>
                            @for(dob <- 1 to 31){
                                <option value="@dob" @if(String.valueOf(dob)==form("dob").value){selected="selected"}>@dob</option>
                            }
                        </select>
                    </td>
                    <td style="width: 33%; text-align: center">
                        <select name="mob">
                            <option value="0">-= @messages.at("msg.form.mob") =-</option>
                            @for(mob <- 1 to 12){
                                <option value="@mob" @if(String.valueOf(mob)==form("mob").value){selected="selected"}>@mob</option>
                            }
                        </select>
                    </td>
                    <td style="width: 34%; text-align: center">
                        <select name="yob">
                            <option value="0">-= @messages.at("msg.form.yob") =-</option>
                            @for(yob <- 1970 to 2070){
                                <option value="@yob" @if(String.valueOf(yob)==form("yob").value){selected="selected"}>@yob</option>
                            }
                        </select>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" style="width: 100%; text-align: center" colspan="2">
                <input type="submit" style="font-size: xx-large;" value="@messages.at("msg.form.submit")" />
                <input type="reset" style="font-size: xx-large;" value="@messages.at("msg.form.reset")" />
            </td>
        </tr>
        </table>
    </form>
</body>
</html>
